@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=VT323&display=swap');

body {
    font-family: 'VT323';
    background: url('../images/backgroundtexture.gif') no-repeat center center fixed; 
    background-size: cover;
}

#dvdText {
    font-family: 'Rubik Mono One', sans-serif;
}

#loadingText {
    animation: flicker 0.5s infinite alternate;
}

@keyframes flicker {
    0% { opacity: 1; }
    100% { opacity: 0.7; }
}
