@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=VT323&display=swap');

body {
    font-family: 'VT323';
    background: url('../images/backgroundtexture.gif') no-repeat center center fixed; 
    background-size: cover;
}

#dvdText {
    font-family: 'Rubik Mono One', sans-serif;
}

#loadingText {
    animation: flicker 0.5s infinite alternate;
}

@keyframes flicker {
    0% { opacity: 1; }
    100% { opacity: 0.7; }
}

/* Pour les petits écrans (moins de 600px de largeur) */
@media only screen and (max-width: 600px) {
    body {
        font-size: 12px;
    }

    #dvdText {
        font-size: 18px;
    }

    #loadingText {
        font-size: 16px;
    }
}

/* Pour les écrans moyens (entre 600px et 1024px) */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
    body {
        font-size: 14px;
    }

    #dvdText {
        font-size: 12px;
    }

    #loadingText {
        font-size: 12px;
    }
}

/* Pour les grands écrans (plus de 1024px) */
@media only screen and (min-width: 1024px) {
    body {
        font-size: 12pxx;
    }

    #dvdText {
        font-size: 12px;
    }

    #loadingText {
        font-size: 12px;
    }
}
